:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #f9fafb;
  --border: #e5e4e7;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/150% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

h1,
h2 {
  font-family: var(--sans);
  font-weight: 600;
  color: var(--text-h);
  margin: 0;
}

p {
  margin: 0;
}
